@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: Geist, ui-sans-serif, system-ui, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#root {
  flex-grow: 1;
  min-height: 100vh;
}
